
/* INSERIMENTO LOGO BACKGROUND */
.logo{
    width: 150px;
    margin-top: 100px;
}

header{
    background-image: url(../img/pattern.png);
    background-color: cyan;
    background-size: cover;
}


.yellow{
    background-color: yellow;
}