
/* INSERIMENTO LOGO BACKGROUND */
.logo{
    width: 150px;
    margin-top: 100px;
}

header{
    background-image: url(../img/pattern.png);
    background-color: rgb(0, 187, 255);
    background-size: contain;
    background-repeat: repeat;
}


h1{
    margin-top: 30px;
    font-size: 50px;
}

/* PRESENTAZIONI IMMAGINI E MARGiNI */
h3{
    color: rgb(118, 115, 115);
}

.booleaner{
    color: rgb(0, 200, 255);
}

.margin{
    margin-top: 30px;
}

.description{
    font-size: small;
}


.yellow{
    background-color: yellow;
}

/* TABELLA */
th, td{
    width: 5%;
    
}
table{
    width: auto;
    text-align: left;
    border-collapse: collapse;
}

th{
    background-color: skyblue;
    color: white; 
}

.blue-row{
    background-color: rgb(0, 204, 255);
}

/* ULTIME IMMAGINI */

.monitor-image{
    background-image: url(../img/monitor.jpg);
    width: 300px;
    height: 280px;
    background-position: center;
}

.dekstop-image{
    background-image: url(../img/graph.jpg);
    width: 300px;
    height: 280px;
    background-position: center

}
h2{
    padding: 10px;
    color: #fff;
}